@{
    ViewBag.Title = "About";
}

<div class="blog-wall" style="margin-top: 100px; color: #388E8E">
    
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>

</div>
